<h1>Name: </h1>
<%= "Geoffrey Wiederecht" %>
<br/>
<h1>Where Are You From: </h1>
<%= "Pleasanton, California" %>
<br/>
<h1>Year: </h1>
<%= "Sophomore" %>
<br />
<h1>Fun Fact: </h1>
<%= "I can juggle" %>
<br />
<h1>What Are You Excited About: </h1>
<%= "Excited to learn how to make cool websites" %>
<br />
